<% content_for :title, "Contact - " %>
<h2>Contact</h2>
<p>WeAreYVR is managed by our lead Community Coordinator, <a href="http://twitter.com/claire_atkin">Claire</a>. We&rsquo;d love to hear from you &ndash; we&rsquo;re looking for sponsors, curators, and helpers of all kinds.</p>

<p>(If you login, you can also hit the question mark in the lower right hand corner to send us a quick message)</p>

<div id="wufoo-z1lp72c0f2ej3g">
Fill out my <a href="https://weareyvr.wufoo.com/forms/z1lp72c0f2ej3g">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var z1lp72c0f2ej3g;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'weareyvr',
'formHash':'z1lp72c0f2ej3g',
'autoResize':true,
'height':'657',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1lp72c0f2ej3g = new WufooForm();z1lp72c0f2ej3g.initialize(options);z1lp72c0f2ej3g.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
