<% content_for :title, "Welcome Wagon - " %>
<div class="text-content col-md-9">

  <p class="lead">Welome to Vancouvver! This is the community guide to the tech community.</p>
  
  <h3>Meetups</h3>
  
  <p>Stuff</p>
  
  <h3>Organizations</h3>
  
  <p>Stuff</p>
  
</div>
