<h1>Jobs Aggregator</h1>

<p>Please do submit this form multiple times to add all your job listings, or email us at <%= link_to "organizers@startupweekvancouver.ca", "mailto:organizers@startupweekvancouver.ca" %> if you'd like to send us a spreadsheet with lots of listings.</p>

<%= render 'form', :current_user => @current_user %>

<%= link_to 'Back', jobs_path %>
