<section class="profile__projects">
  <h2>Projects</h2>
  <div class="profile-project">
    <div class="profile-project__info">
      <h3>Project Name</h3>
      <p>Description of some kind of project they are working on. This is a place to show <a href="#">something online</a> or to say what kind of collaborators they are looking to find.</p>
    </div>
    <div class="profile-project__looking">
      <h4>I’m looking for…</h4>
      <ul class="list-inline">
        <li><a href="#" class="entity wr-link-founder"><span class="wr-icon wr-icon-founder-av"></span> Cofounder</a></li>
        <li><a href="#" class="entity wr-link-employee"><span class="wr-icon wr-icon-employee-av"></span> Designer</a></li>
        <li><a href="#" class="entity wr-link-employee"><span class="wr-icon wr-icon-newbie-av"></span> Tester</a></li>
      </ul>
    </div>
  </div>
</section>