<div class="profile__taxonomy">
  <% @user.tags.each do |tag| %>

    <a href="<% search_path(tags: {names: [tag.name]}) %>" class="entity wr-link-investor"><span class="wr-icon wr-icon-investor"></span><%= tag.name %></a>

  <% end %>
</div>
