<section class="profile__jobs">
  <h2>Working at</h2>
  <ul class="list-unstyled">
    <li>
      <a href="#" class="entity-lg wr-link-founder">
        <span class="wr-icon wr-icon-incubator entity-lg__img"></span>
        <div class="entity-lg__txt">
          <div class="entity-lg__name">Full Stack</div>
          <div class="entity-lg__rel">Founder</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="entity-lg wr-link-jobs">
        <span class="wr-icon wr-icon-jobs entity-lg__img"></span>
        <div class="entity-lg__txt">
          <div class="entity-lg__name">I’m available</div>
          <div class="entity-lg__rel">Consulting, Advising</div>
        </div>
      </a>
    </li>
  </ul>
</section>