<section class="profile__tags">
  <h2>Skills &amp; Interests</h2>
  <div class="tag-list">
    <a class="entity entity-tag" href="/search?tags%5Bnames%5D%5B%5D=Blogger">Blogger</a>
    <a class="entity entity-tag" href="/search?tags%5Bnames%5D%5B%5D=TeamVancouver">TeamVancouver</a>
  </div>
</section>