<div class="header-image">
  <% if @organization.image.present? %>
    <%= image_tag @organization.image, style: 'max-width: 200px;' %>
  <% elsif @organization.image.present? %>
    <%= image_tag @organization.image, style: 'max-width: 200px;', class: "pull-left" %>
  <% else %>
    <span class="glyphicon glyphicon-user"></span>
  <% end %>
</div>
