<div class="header-image">
  <% if @organization.image.present? %>
    <%= image_tag @organization.image %>
  <% elsif @organization.image.present? %>
    <%= image_tag @organization.image, class: "pull-left" %>
  <% else %>
    <span class="glyphicon glyphicon-user"></span>
  <% end %>
</div>
