<div class="header-image">
  <% if @organization.image.present? %>
    <%= image_tag @organization.image_url(:thumb) %>
  <% else %>
    <span class="glyphicon glyphicon-user"></span>
  <% end %>
</div>
