<section class="profile__description">
  <h2>Description</h2>
  <div class="text-content"><p><%= @organization.headline %></p></div>
  <%= render "organizations/show_tags" if @organization.tags.any? %> 
</section>