<section class="profile__jobs">
  <h2>Jobs</h2>
  
  <% @organization.jobs.each do |job| %>
    <p>
      <%= link_to job.title, job %>
      <%= job.description %>
      <% if organization_admin_user? %>
        <%= link_to 'Edit', edit_job_path(job) %>
        <%= link_to 'Delete', job, :method => :delete %>
      <% end %>
    </p>
  <% end %>
</section>
