<div class="profile__taxonomy">
  <% @organization.types.each do |type| %>
    <a href="<%= type.name %>" class="entity <%= type.css_link_class %>"><span class="wr-icon <%= type.css_icon_class %>"></span> <%= type.name %></a>
  <% end %>
</div>


