<% if @organization.hiring? %>
  <section class="profile__jobs">
    <a href="#" class="entity-lg wr-link-jobs">
      <span class="wr-icon wr-icon-jobs entity-lg__img"></span>
      <div class="entity-lg__txt">
        <div class="entity-lg__name">We’re hiring</div>
        <div class="entity-lg__rel"><%= @organization.hiring_roles %></div>
      </div>
    </a>
  </section>
<% end %>



