<% if !@organization.why_vancouver.nil? %>
  <section class="profile__why">
    <h2>Why Vancouver?</h2>
    <div class="text-content"><p><%= @organization.why_vancouver %></p></div>
  </section>
<% end %>